<%- include('include/_header')%>
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
          <a href="/api/users"><i class="fas fa-angle-double-left"></i>All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New User</h2>
      <span class="text-light">Use the below form to create a new User</span>
    </div>
    <%- include('include/_addUserForm')%>
  </div>
</main>

<%- include('include/_footer')%>