<%- include('include/_points_header')%>
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
          <a href="/api/points"><i class="fas fa-angle-double-left"></i>All Points</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New Point</h2>
      <span class="text-light">Use the below form to create a new Point</span>
    </div>
    <%- include('include/_addPointsForm')%>
  </div>
</main>

<%- include('include/_footer')%>