
<!--include header-->
<%- include('include/_header')%>
<!--/include header-->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/api/users/add-user" class="border-shadow">
        <span class="text-gradient">New User <i class="fas fa-user"></i></span>
      </a>
    </div>
    <form action="/" method="post">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show_users')%>
        </tbody>
      </table>

    </form>
  </div>
</main>
<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->