<%- include('include/_init_header')%>
<div class="row padding">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text">CRUD Operations with MongoDB and Express.js for Users.</p>
        <a href="/api/users" class="btn btn-dark">Let's Begin with Users</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Point of Interests</h5>
        <p class="card-text">CRUD Operations with MongoDB and Express.js for Points of Interests.</p>
        <a href="/api/points" class="btn btn-dark">Let's Begin with Points of Interests</a>
      </div>
    </div>
  </div>
</div>
<%- include('include/_footer')%>