
<!--include header-->
<%- include('include/_points_header')%>
<!--/include header-->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/api/points/add-point" class="border-shadow">
        <span class="text-gradient">New Point <i class="fa-solid fa-monument"></i></span>
      </a>
    </div>
    <form action="/" method="post">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show_points')%>
        </tbody>
      </table>

    </form>
  </div>
</main>
<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->