<%- include('include/_points_header')%>
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
          <a href="/api/points"><i class="fas fa-angle-double-left"></i>All Points</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update Point of Interest</h2>
      <span class="text-light">Use the below form to update the selected User</span>
    </div>
        <!-- action to update point of interest is on assets/js/index.js using ajax -->
    <form method="post" id="update_point">
      <div class="new_point">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%=point._id%>">
          <input type="text" name="name" value="<%=point.name%>" placeholder="Enter Name..." required>
        </div>
        <div class="form-group">
          <label for="description" class="text-light">Description</label>
          <input type="text" name="description" value="<%=point.description%>" placeholder="Enter Description...">
        </div>
      
        <div class="form-group">
            <label for="image">Upload New Image</label>
            <input type="file" id="image" name="image" value="/img/<%=point.image%>">

        </div>
        <h5>Uploaded Image</h5>
        <img src="/img/<%=point.image %>">     
        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    
    </form>
  </div>
</main>

<%- include('include/_footer')%>