<%- include('include/_header')%>
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
          <a href="/api/users"><i class="fas fa-angle-double-left"></i>All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Use the below form to update the selected User</span>
    </div>
    <!-- action to update user is on assets/js/index.js using ajax -->
    <form method="post" id="update_user">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%=user._id%>">
          <input type="text" name="name" value="<%=user.name%>" placeholder="Enter your Name..">
        </div>
        <div class="form-group">
          <label for="LastName" class="text-light">Last Name</label>
          <input type="text" name="lastName" value="<%=user.lastName%>" placeholder="Enter your Last Name..">
        </div>
        <div class="form-group">
          <label for="email" class="text-light">Email</label>
          <input type="email" name="email" value="<%=user.email%>" placeholder="example@gmail.com" required>
        </div>
        <div class="form-group">
          <label for="age" class="text-light">Age</label>
          <input type="text" name="age" value="<%=user.age%>" placeholder="Enter your Age..">
        </div>
        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    
    </form>
  </div>
</main>

<%- include('include/_footer')%>