<form action="/api/points/addPoint" method="post" id="add_point" enctype="multipart/form-data">
  <div class="new_point">
    <div class="form-group">
      <label for="name" class="text-light">Name</label>
      <input type="hidden" name="id" value="">
      <input type="text" name="name" value="" placeholder="Enter Name..." required>
    </div>
    <div class="form-group">
      <label for="description" class="text-light">Description</label>
      <input type="text" name="description" value="" placeholder="Enter Description...">
        
    </div>
    <div>
      <label for="image">Upload Image</label>
      <input type="file" id="image" name="image" value="">
   </div>
    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>

</form>