<form action="/api/users/addUser" method="post" id="add_user">
  <div class="new_user">
    <div class="form-group">
      <label for="name" class="text-light">Name</label>
      <input type="hidden" name="id" value="">
      <input type="text" name="name" value="" placeholder="Enter your Name.." required>
    </div>
    <div class="form-group">
      <label for="lastName" class="text-light">Last Name</label>
      <input type="text" name="lastName" value="" placeholder="Enter your Last Name..">
    </div>
    <div class="form-group">
      <label for="email" class="text-light">Email</label>
      <input type="email" name="email" value="" placeholder="example@gmail.com" required>
    </div>
    <div class="form-group">
      <label for="age" class="text-light">Age</label>
      <input type="text" name="age" value="" placeholder="Enter your Age..">
    </div>
    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>

</form>