<% for(var i = 0; i < users.length; i++) { %> 


<tr>
  <td><%= i + 1%></td>
  <td><%=users[i].name %></td>
  <td><%=users[i].lastName %></td>
  <td><%=users[i].email %></td>
  <td><%=users[i].age %></td>
  <td>
        <!-- rendering this using services/renderPOI for view -->
    <a href="/api/users/updateUser?email=<%= users[i].email%>" class="btn border-shadow update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <!-- delete action method to delete user with specified email comes on assets/js/index.js -->
    <a class="btn border-shadow delete" data-email=<%= users[i].email%>>  
      <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a>
  </td>
</tr>

<% } %>