<% for(var i = 0; i < points.length; i++) { %> 


<tr>
  <td><%= i + 1%></td>
  <td><%=points[i].name %></td>
  <td><%=points[i].description %></td>
  <td><img src="/img/<%=points[i].image %>"></td>
  <td>
    <!-- rendering this using services/renderPOI for view -->
    <a href="/api/points/updatePoint?name=<%= points[i].name%>" class="btn border-shadow update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <!-- delete action goes to index.js using ajax -->
    <a class="btn border-shadow delete" data-name=<%= points[i].name%>>  
      <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a>
  </td>
</tr>

<% } %>